﻿@model registrationForm.Models.Custom;

@{
    ViewData["Title"] = "Details";
}

<head>
    <link href="June15support.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="June15support.js"></script>
</head>
<body>
    <div class="container 1" style="width: 100%; margin: auto; border-radius: 5px; font-weight: bold; padding: 10px; ">
        <h1>Table Containing Details of the Employees</h1>
        <table id="newtable" style=" font-family: 'Courier'; border-collapse: collapse; width: 100%;">
            <tr>
                <th style=" border: 1px solid #000000; text-align: left; padding: 8px;">Name</th>
                <th style=" border: 1px solid #000000; text-align: left; padding: 8px;">EmailId</th>
                <th style=" border: 1px solid #000000; text-align: left; padding: 8px;">MobileNo</th>
                <th style=" border: 1px solid #000000; text-align: left; padding: 8px;">Address</th>
                <th style=" border: 1px solid #000000; text-align: left; padding: 8px;">Gender</th>
                <th style=" border: 1px solid #000000; text-align: left; padding: 8px;">Qualification</th>
            </tr>
            <tr>
                <td style=" border: 1px solid #000000; text-align: left; padding: 8px;">harsh</td>
                <td style=" border: 1px solid #000000; text-align: left; padding: 8px;">harsh@gmail.com</td>
                <td style=" border: 1px solid #000000; text-align: left; padding: 8px;">0987654321</td>
                <td style=" border: 1px solid #000000; text-align: left; padding: 8px;">SNP, Greater Kailash, New Delhi</td>
                <td style=" border: 1px solid #000000; text-align: left; padding: 8px;">male</td>
                <td style=" border: 1px solid #000000; text-align: left; padding: 8px;">Graduation</td>
            </tr>
            @foreach (string str in (List<string>)ViewBag.TableItems)
            {
                <li>@str</li>
            }
        </table>
    </div>
</body>