﻿@model June28Task.Models.EmployeeViewModel

@{
    ViewBag.Title = "Index";
}

<body>
    <h2>Employee Info</h2>

    <div class="row">
        @using (Html.BeginForm("Index", "Employee", FormMethod.Post))
        {
            <div class="form-group">
                <label for="Value1">Employee Name</label>
                <input type="text" class="form-control" id="Value1" name="Value1" value="@Model.Name" />
            </div>

            <div class="form-group">
                <label for="Value2">Employee Salary</label>
                <input type="text" class="form-control" id="Value2" name="Value2" value="@Model.Salary" />
            </div>

            <input type="submit" value="Save" class="btn btn-primary" name="sub" />
        }
    </div>

    <div class="secrow">
        <table>
            <tr>
                <td>Name</td>
                <td>Salary</td>
            </tr>
            <tr>
                <td>@ViewBag.Name</td>
                <td>@ViewBag.Salary</td>
            </tr>
        </table>
    </div>
</body>
@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}