﻿@model Session30support.Models.Owner.OwnerViewModel;

@{
    ViewData["Title"] = "Owner";
}

<h1>Owner Details</h1>
<h4>OwnerViewMdodel</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Owner">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="marks" class="control-label"></label>
                <input asp-for="marks" class="form-control" />
                <span asp-validation-for="marks" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Systemid" class="control-label"></label>
                <input asp-for="Systemid" class="form-control" />
                <span asp-validation-for="Systemid" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

@await Html.PartialAsync("_OwnPartial");

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
      @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}