﻿@model SimpleCalculator.Models.Calculator

@{
    ViewBag.Title = "Index";
}

<body>
      <h2>Simple Calculator</h2>

      <div class="row">
          @using (Html.BeginForm("Index", "Calculator", FormMethod.Post))
          {
              <div class="form-group">
                  <label for="Value1">Value 1</label>
                  <input type="text" class="form-control" id="Value1" name="Value1" value="@Model.Value1" />
              </div>

              <div class="form-group">
                  <label for="Value2">Value 2</label>
                  <input type="text" class="form-control" id="Value2" name="Value2" value="@Model.Value2" />
              </div>

              <div class="form-group">
                  <label for="result">Result</label>
                  <input type="text" class="form-control" id="result" name="result" value="@Model.result" />
              </div>

              <button type="submit" class="btn btn-info" id="add" value="add" name="calculate">+</button>
              <button type="submit" class="btn btn-info" id="min" value="min" name="calculate">-</button>
              <button type="submit" class="btn btn-info" id="mul" value="mul" name="calculate">*</button>
              <button type="submit" class="btn btn-info" id="div" value="divv" name="calculate">/</button>
          }
      </div>
</body>
