﻿@model registrationForm.Models.RegModel;

@{
    ViewData["Title"] = "Registration Form";
}
<head>
    <link href="June15support.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="June15support.js"></script>
</head>
<body>
    <div class="container" style=" width: 40%; margin: auto; border: 2px solid #34eba1; border-radius: 5px; font-weight: bold; color: lightseagreen;">
        <br />
        <h1 class="text-sucess text-center">Registration Form</h1><br />
        <div class="col-lg-8 m-auto d-block">
            <form action="#" onsubmit="return validation()" class="bg-light">
                <div class="form-group">
                    @Html.Label("Name :")
                    @Html.TextBox("frstnm", "", new { @class = "form-control", @placeholder = "Your Name" })
                    <span id="frstnm"></span>
                </div>

                <div class="form-group">
                    @Html.Label("Password :")
                    @Html.Password("pwd", "", new { @class = "form-control", @placeholder = "Enter Password" })
                    <span id="pwd"></span>
                </div>

                <div class="form-group">

                    @Html.Label("ConfirmPassword :")
                    @Html.Password("cpwd", "", new { @class = "form-control", @placeholder = "Confirm Password" })
                    <span id="cpwd"></span>
                </div>

                <div class="form-group">
                    @Html.Label("Mobile :")
                    @Html.TextBox("mb", "", new { @class = "form-control", @placeholder = "Enter Mobile Number" })
                    <span id="mb"></span>
                </div>

                <div class="form-group">
                    @Html.Label("EmailId :")
                    @Html.TextBox("em", "", new { @class = "form-control", @placeholder = "Enter EmailId" })
                    <span id="em"></span>
                </div>

                <div class="form-group">

                    @Html.Label("Address :")
                    @Html.TextArea("add", "", new { @class = "form-control", @placeholder = "Full Address" })
                    <span id="add"></span>
                </div><br>

                @Html.Label("Qualification")
                @Html.DropDownList("edu", new List<SelectListItem> { new SelectListItem { Text = "10th", Value = "10" },
                new SelectListItem { Text = "12th", Value = "12" },
                new SelectListItem { Text = "Graduation", Value = "13" },
                new SelectListItem { Text = "Masters", Value = "14" },
                new SelectListItem { Text = "Ph.D", Value = "15" }}, "--Select--", new { @class = "form-control", @required = "required" })
                <input type="hidden" name="hidden1" id="hidden1" value="" />
                </select><br><br>

                <div id="gen">
                    @Html.Label("Gender")<br />
                    @Html.RadioButton("gender", "Male")@Html.Label("Male")<br />
                    @Html.RadioButton("gender", "Female")@Html.Label("Female")<br />
                    @Html.RadioButton("gender", "Other")@Html.Label("Other")<br>
                </div><br>

                <input type="checkbox" id="email" name="email">
                @Html.Label("Subscribe for Updates via email")

                <div class="text-center">

                    <button type="button" class="btn btn-success" onclick="addRow()">Register</button>
                    <button type="button" class="btn btn-dark">Reset</button>
                </div>
            </form>
        </div>
    </div>
</body>