body {
    margin: 10px;
    padding: 10px;
    font-family: 'Courier';
}
.container {
    width: 40%;
    margin: auto;
    border: 2px solid #34eba1;
    border-radius: 5px;
    font-weight: bold;
    color: lightseagreen;
}
.container2{
    width: 100%;
    margin: auto;
    border-radius: 5px;
    font-weight:bold;
    padding: 10px;
}
table {
    font-family: 'Courier';
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
  }
