﻿body {
    margin: 10px;
    padding: 10px;
    font-family: 'Courier';
}
.container {
    width: 40%;
    margin: auto;
    border: 2px solid #dbd1c4;
    border-radius: 5px;
    font-weight: bold;
    color: lightseagreen;
}

